* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first-screen {
  width: 100dvw;
  height: 100dvh;
  background: #000000;
  color: #1D1D1D;
  font-size: 60px;
  font-weight: bold;
  display: grid;
  place-content: center;
}
